doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body 
    h2 Orden de compra 
    p Hola,Muchisimas gracias por confiar en nuestro servicio.Le adjuntamos la factura de su compra.
    p Atentamente su tienda virtual de confianza!!